@reference "tailwindcss";

.header {
  @apply fixed w-full h-[70px] flex items-center justify-between p-4;
}

.homeLink {
  @apply flex items-center;
}

.logo {
  @apply mr-2;
}

.title {
  @apply hidden;
  @apply text-lg font-semibold;

  @media (min-width: 350px) {
    @apply block;
  }
}

.switchers {
  @apply flex gap-2;
}
