@reference "tailwindcss";

.wrapper {
  @apply flex h-full items-center justify-center;
  @apply font-sans;
}

.card {
  @apply flex flex-col items-center pt-8 p-6 w-[500px];
  @apply rounded-xl border-1 border-gray-800 shadow-2xl;
}

.logo {
  @apply p-3 mb-4;
  @apply rounded-full overflow-visible;
}

.title {
  @apply mb-3;
  @apply text-3xl font-bold;
}

.description {
  @apply text-center text-lg text-gray-400;
}

.buttonsWrapper {
  @apply flex flex-col gap-4 mt-6 w-full;
}
