@import "tailwindcss";

:root {
  --radius-xl: 1.5rem;
}

[data-mode='light'] {
  --background: #ffffff;
  --foreground: #171717;
  
  --bg-muted: #f3f3f5;
  --bg-active: #fff;

  --btn-primary-bg: #0b0a14;
  --btn-primary-bg-hover: #15132a;
  --btn-primary-text: #ffffff;
  --btn-primary-ring: #15132a;

  --btn-secondary-bg: #e5e7eb;
  --btn-secondary-bg-hover: #d1d5db;
  --btn-secondary-text: #111827;
  --btn-secondary-ring: #9ca3af;

  --btn-destructive-bg: #d4183d;
  --btn-destructive-bg-hover: #db3052;
  --btn-destructive-text: #ffffff;
  --btn-destructive-ring: #d4183d;

  --color-gray-100: #1a1a1a;
  --color-gray-200: #2d2d2d;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-mode='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;

  --bg-muted: #1a1a1a;
  --bg-active: #111111;

  --btn-primary-bg: #ffffff;
  --btn-primary-bg-hover: #e5e5e5;
  --btn-primary-text: #0a0a0a;
  --btn-primary-ring: #e5e5e5;

  --btn-secondary-bg: #4b5563;
  --btn-secondary-bg-hover: #374151;
  --btn-secondary-text: #f3f4f6;
  --btn-secondary-ring: #374151;

  --btn-destructive-bg: #d4183d;
  --btn-destructive-bg-hover: #db3052;
  --btn-destructive-text: #ffffff;
  --btn-destructive-ring: #d4183d;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply inline-flex items-center justify-center;
  @apply font-medium rounded-md select-none whitespace-nowrap transition-all duration-200;
  @apply hover:cursor-pointer focus:outline-none focus:ring-1 focus:ring-offset-1 active:scale-95;
}
.button-primary {
  @apply bg-[var(--btn-primary-bg)] text-[var(--btn-primary-text)] shadow-md;
}
.button-primary:hover {
  @apply bg-[var(--btn-primary-bg-hover)] shadow-lg;
}
.button-primary:focus {
  @apply ring-[var(--btn-primary-ring)];
}
.button-secondary {
  @apply bg-[var(--btn-secondary-bg)] text-[var(--btn-secondary-text)] shadow-sm;
}
.button-secondary:hover {
  @apply bg-[var(--btn-secondary-bg-hover)] shadow-md;
}
.button-secondary:focus {
  @apply ring-[var(--btn-secondary-ring)];
}
.button-destructive {
  @apply bg-[var(--btn-destructive-bg)] text-[var(--btn-destructive-text)] shadow-sm;
}
.button-destructive:hover {
  @apply bg-[var(--btn-destructive-bg-hover)] shadow-md;
}
.button-destructive:focus {
  @apply ring-[var(--btn-destructive-ring)];
}
.button-ghost {
  @apply ring-1 hover:bg-[var(--bg-muted)] focus:ring-[var(--color-gray-500)];
}
.button-sm {
  @apply px-3 py-1.5 text-sm;
}
.button-md {
  @apply px-4 py-2 text-base;
}
.button-lg {
  @apply px-5 py-2.5 text-lg;
}
.button-icon {
  @apply size-9 rounded-md;
}
